@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth
}

.box {
    box-shadow: 0px 3.435px 2.748px 0px rgba(83, 133, 255, 0.1), 0px 8.687px 6.95px 0px rgba(83, 133, 255, 0.14), 0px 17.721px 14.177px 0px rgba(83, 133, 255, 0.17), 0px 36.502px 29.201px 0px rgba(83, 133, 255, 0.21), 0px 100px 80px 0px rgba(83, 133, 255, 0.31);
}
.swiper {
    width: 100%;
    height: 100%;
    display: flex;
  }
  .swiper-wrapper {
    display: flex;
    align-items: center;
  }
  
  .swiper .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-horizontal>.swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: -4px !important;
  }
  
  @media (max-width: 426px) {
    .swiper {
        overflow: hidden;
    }
  }
  
  .swiper-pagination-clickable .swiper-pagination-bullet {
    background: #ff941c;
    height: 8px;
    width: 8px;
  }

.swiper-div {
  width: 100%;
  display: flex;
  align-items: center;
  overflow: hidden
}
.col-mod {
  grid-column: 2
}
@media (max-width: 500px) {
  .col-mod {
    grid-column: 0
  }
}

/* STYLES FOR ACTIVE FORM */

._form-branding {
  display: none!important
}
form {
    padding: 0!important;
    margin: 0!important;
}
#_forms_21 {
  width: 100%
}
form ._form-content :nth-child(n+6):nth-child(-n+11) {
  position: absolute;
  z-index: -50;
  opacity: 0
}
#_forms_21 ._form-content ._form_element ._field-wrapper input[type=text] {
  background: transparent;
  background-color: '';
  border-radius: 32px!important;
  padding: 14px 16px!important;
  font-size: 14px!important;
  font-weight: 600!important;
  color: #fff!important;
}
form ._form-content button {
  width: 100%!important;
  background-color: #5484FF!important;
  border-radius: 32px!important;
  padding: 20px 16px!important;
  box-shadow: 0px 3.435px 2.748px 0px rgba(83, 133, 255, 0.1), 0px 8.687px 6.95px 0px rgba(83, 133, 255, 0.14), 0px 17.721px 14.177px 0px rgba(83, 133, 255, 0.17), 0px 36.502px 29.201px 0px rgba(83, 133, 255, 0.21), 0px 100px 80px 0px rgba(83, 133, 255, 0.31)!important;
  font-weight: bold!important;
  font-size: 15px!important;
  text-transform: uppercase;
}
/* ._form-content ._form_element #field[9] {
  display: none!important
}

._form-content #field[6], ._form-content #field[4], ._form-content #field[11], ._form-content #field[12] {
  display: none!important
} */