@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth
}

.my-shadow {
  box-shadow: 0px 0px 52px 6px rgba(135.68327105978264, 232.02343749999997, 201.62916216383363, 0.5)
}

.btn-bg {
  background: transparent;
  background-image: radial-gradient(at top center, #45EEA1 0%, #1BAF6C 100%);
  border-width: 0px 0px 2px 0px;
}

.header {
  background-image: url('/images/bg.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.img-bg {
  background-image: url('/images/bg-2.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.bg-02 {
  background-image: url('/images/bg2.webp');
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

@media (max-width: 500px) {
  .bg-02 {
    background-image: url('/images/bg2.webp');
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
  }
  .img-bg {
    background-image: none
  }
}

.linear-01 {
  background: linear-gradient(to right, #C4DC73 0%, #58B750 100%);
}

.linear-02 {
    background: linear-gradient(
      to right,
      #FFDB94 0%,
      #E8B44D 22%,
      #FFDB94 48%,
      #E8B44D 80%,
      #82652B 100%
    );
}

.swiper {
  display: flex;
  justify-content: center;
}

.swiper .swiper-pagination-bullet {
  background-color: #fff; /* Cor dos bullets */
  transform: translateY(20px)
}
.swiper .swiper-pagination-bullet-active {
  background-color: #fff; /* Cor do bullet ativo */
}