@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth
}

.my-shadow {
  box-shadow: 0px 0px 11.6px 0px #FFDB94;
}

.header {
  background-image: url('/images/bg.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.bg-02 {
  background-image: url('/images/bg2.webp');
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

@media (max-width: 500px) {
  .bg-02 {
    background-image: url('/images/bg2.webp');
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
  }
}

.linear-01 {
  background: linear-gradient(to right, #C4DC73 0%, #58B750 100%);
}

.linear-02 {
    background: linear-gradient(
      to right,
      #FFDB94 0%,
      #E8B44D 22%,
      #FFDB94 48%,
      #E8B44D 80%,
      #82652B 100%
    );
}

.swiper {
  display: flex;
  justify-content: center;
}

.swiper .swiper-pagination-bullet {
  background-color: #fff; /* Cor dos bullets */
  transform: translateY(20px)
}
.swiper .swiper-pagination-bullet-active {
  background-color: #fff; /* Cor do bullet ativo */
}